/* Import Font : Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #002ec593;
}

body, button, label, input {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.video-container {
    display: flex;
    justify-content: center;
}


/* HEADER ELEMENTS -- NAVBAR */


header {
    display: flex;
    background: #001e46e7;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    min-height: 50px;
    justify-content: right;
    position: sticky;
    top: 0%;
    z-index: 20;
    width: 100%;
}

nav {
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

ul > li {
    background: #fff;
    border-radius: 3px;
    margin: 5px 15px;
    padding: 5px 0;
    text-align: center;
    transition: all 140ms ease;
    user-select: none;
    display: inline;
}

ul > li:hover {
    background: rgb(219, 219, 219);
}

ul > li:active {
    background: rgb(163, 163, 163);
}

ul > li > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

a {
    font-style: normal;
    color: #000;
}


/* Admin */


.admin-table {
    min-width: 80%;
    margin: 20px auto;
    background: #b98383;
}

.admin-table td, .admin-table th {
    padding: 5px 10px;
}

.admin-table td[class^="table"]{
    user-select: none;
    text-align: center;
    cursor: pointer;
    transition: all 100ms ease;
}

.admin-table td[class^="table"]:hover{
    background-color: #1c1c1c51;
}

.admin-table td[class^="table"]:active{
    background-color: #131313af;
}

/* Disconnet */

.disconnect {
    background: #8f0e0e;
}

.disconnect:hover{
    background: #780c0c;
}

.disconnect:active{
    background: #4d0808;
}

.disconnect > a {
    color: #f5f5f5;
    transition: all 140ms ease;
}